# Gemini session files
GEMINI.md

# Backup files
*BK.org

# Emacs tangled config
config.el# Emacs packages
elpa/

# Emacs backup and auto-save files
*~
.#*
*#

# Project specific files
bookmarks
kkcrc
projectile-bookmarks.eldconfig.el
